"*":
  "atom-beautify":
    cpp:
      configPath: "~/.uncrustify.cfg"
      default_beautifier: "clang-format"
    js:
      default_beautifier: "ESLint Fixer"
    markdown:
      default_beautifier: "Prettier"
    vue:
      default_beautifier: "ESLint Fixer"
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
    useCoreMovementCommands: false
  core:
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "\"Ricty Diminished\""
    scrollPastEnd: true
  "exception-reporting":
    userId: "00d10b12-5a42-41ef-84e7-32747c9872c3"
  fonts:
    fontFamily: "M+ Light"
  "language-dotenv":
    dotenvFileNames: [
      ".env"
      ".env.example"
      ".env.development"
      ".env.production"
      ".env.test"
      ".env.defaults"
      ".env.schema"
    ]
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-eslint":
    ignoreFixableRulesWhileTyping: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
    ]
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    useGitHubStyle: true
  "one-dark-ui": {}
  "seti-syntax": {}
  "seti-ui": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
".cpp.source":
  editor:
    showIndentGuide: true
    showInvisibles: false
    tabLength: 2
    tabType: "soft"
".html.text.vue":
  editor:
    tabType: "auto"
