"*":
  "atom-beautify":
    cpp:
      configPath: "~/.uncrustify.cfg"
      default_beautifier: "clang-format"
    java:
      configPath: "~/.uncrustify.cfg"
    js:
      default_beautifier: "ESLint Fixer"
    markdown:
      default_beautifier: "Prettier"
    rust: {}
    vue:
      default_beautifier: "ESLint Fixer"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
  "autocomplete-clang":
    includeNonDoxygenCommentsAsDocumentation: true
    "std c++": "c++17"
  "autocomplete-plus":
    maxVisibleSuggestions: 20
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
    useCoreMovementCommands: false
  core:
    colorProfile: "srgb"
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
      "autocomplete-clang"
      "linter-clang"
      "linter"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "\"Ricty Diminished\""
    scrollPastEnd: true
  "exception-reporting":
    userId: "00d10b12-5a42-41ef-84e7-32747c9872c3"
  fonts:
    fontFamily: "M+ Light"
  "ide-rust":
    rlsToolchain: "nightly-2019-03-23"
  "language-dotenv":
    dotenvFileNames: [
      ".env"
      ".env.example"
      ".env.development"
      ".env.production"
      ".env.test"
      ".env.defaults"
      ".env.schema"
    ]
  "line-ending-selector":
    defaultLineEnding: "LF"
  linter: {}
  "linter-clang":
    clangDefaultCppFlags: "-Wall -std=c++17"
  "linter-eslint":
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
    ]
  "linter-ui-default":
    panelHeight: 250
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    useGitHubStyle: true
  "one-dark-ui": {}
  "seti-syntax": {}
  "seti-ui": {}
  "toggle-gutter":
    showGutters: false
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
".cpp.source":
  editor:
    showIndentGuide: true
    showInvisibles: false
    tabLength: 2
    tabType: "soft"
".html.text.vue":
  editor:
    tabType: "auto"
".rust.source":
  editor:
    tabLength: 2
