# change tabs
'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'

# disable quit
  'ctrl-q': 'unset!'
# disable close
  'ctrl-w': 'unset!'

# prefix ctrl-w
# close
  'ctrl-w ctrl-q': 'core:close'
# focus-pane
  'ctrl-w ctrl-w': 'window:focus-next-pane'
  'ctrl-w h': 'window:focus-pane-on-left'
  'ctrl-w j': 'window:focus-pane-below'
  'ctrl-w k': 'window:focus-pane-above'
  'ctrl-w l': 'window:focus-pane-on-right'

# prefix ctrl-k
# focus-pane
  'ctrl-k ctrl-k': 'window:focus-next-pane'
  'ctrl-k h': 'window:focus-pane-on-left'
  'ctrl-k j': 'window:focus-pane-below'
  'ctrl-k k': 'window:focus-pane-above'
  'ctrl-k l': 'window:focus-pane-on-right'
# split pane and move active item
  'ctrl-k v': 'pane:split-right-and-move-active-item'
  'ctrl-k s': 'pane:split-down-and-move-active-item'

# autocomplete-plus
# disable "Use Core Movement Commands" first
'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'

# markdown-preview-plus
# overwriting because of conflicting with emmet
'atom-text-editor, webview.markdown-preview-plus':
  'ctrl-shift-M': 'markdown-preview-plus:toggle'

# beautify
'atom-text-editor':
  'ctrl-i': 'atom-beautify:beautify-editor'
"atom-text-editor[data-grammar='source cpp']":
  'ctrl-i': 'atom-beautify:beautify-language-c++'
"atom-text-editor[data-grammar='text html vue']":
  'ctrl-i': 'linter-eslint:fix-file'

# force use ESLint Fixer engine provided atom-beautify for js in .vue files
# "atom-text-editor[data-grammar='text html vue']":
#   'ctrl-i': 'atom-beautify:beautify-language-javascript'
